/*!
 *  VictorSzeto.com Stylesheet v0.0.1
 *  Source: https://github.com/victorvation/victorvation.github.io/tree/dev
 */
// Vars
$blue: #4da883;
$blueSecondary: #54ba90;
$warn: #cc9867;
$alert: #cec869;
$good: #a9d06c;
$lightGrey: #e0e0e0;

.active {
  background-color: $warn;
}

.hl {
  color: $blue;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

p.tagline {
  padding: 0;
  margin: 0;
  color: #999999;
}

abbr[title] {
  border-color: $blue;
  cursor: help;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.articles-section {
  h2 {
    text-align: initial;
  }
}

a {
  &:visited, &:link {
    color: $blue;
    text-decoration: none;
  }
  &:hover, &:link:hover {
    color: $warn;
    border-bottom: 2px solid $warn;
  }
}

::selection {
  background-color: $blueSecondary;
}

.topbar {
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); //cubic-bezier(0.455, 0.030, 0.515, 0.955);
  &--pinned {
    transform: translateY(0px);
  }
  &--unpinned {
  transform: translateY(-55px);
  }
}
.app-bar {
  background-color: rgba(255, 255, 255, .97);
  pointer-events: none;
  height: 30px;
  button.menu, button.link-to-top {
    height: 30px;
    width: 30px;
    pointer-events: initial;
    transition: color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    & a {
      color: #000;
    }
    &:hover, & a:hover {
      border-bottom: none;
      color: $blueSecondary;
    }
    &:focus, & a:focus {
      outline: 0;
    }
  }
}

.navdrawer-container {
  position: fixed;
  background-color: $blueSecondary;
  h4 {
    color: $blue;
    border-right: 5px solid $blueSecondary;
  }
  ul {
    // border-top: 1px solid #fff;
    li {
      a {
        border-bottom: none !important;
      }
    }
  }
}

body {
  padding-top: 30px;
}
.featured-section {
  background-color: #ffffff;
}

.featured-list__item {
  background-color: #f0f0f0;
}

.featured-list__img {
  padding-top: 100px;
}

footer {
  padding: 0 0 50px;
}

.button--primary {
  background: $blueSecondary;
  color: white !important;
  border: 1px solid $blue;
}

.contactbox {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-color: rgba(0, 0, 0, 0.1);
  .container {
    padding-bottom: 50px;
  }
}

.copyright {
  p {
    margin-right: 4.4%;
  }
}

.image--circle {
  border-radius: 50%;
}

.about__img {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  // height:22.2%;
  // width: 22.2%;
  margin-top: 1.2250em;
}

@media (max-width: 900px) {
  .app-bar {
    border-bottom: 3px solid $blueSecondary;
  }
}

